<div class="sidebar" [ngClass]="{ 'expanded': isExpanded }">
  <div class="header">
    <h1 class="title">
      Dashboard
    </h1>
    <div class="toggle" (click)="handleSidebarToggle()">
      <span class="chevron"></span>
    </div>
  </div>
  <div class="content" *ngIf="!isStudent">
    <div class="link with-children">
      <div class="content" [routerLink]="['/dashboard']" [routerLinkActive]="'active'">
        <div class="title" *ngIf="isAdmin">Admin Dashboard</div>
        <div class="title" *ngIf="!isAdmin">Instructor Dashboard</div>
      </div>
      <div class="children">
        <div class="link">
          <div class="content" [routerLink]="['/courseeditor']" [queryParams]="{ 'child': '1' }"
            [routerLinkActive]="'active'">
            <div class="title">Course Editor</div>
          </div>
        </div>
        <div class="link">
          <div class="content" [routerLink]="['/managestudents']" [queryParams]="{ 'child': '1' }"
            [routerLinkActive]="'active'">
            <div class="title">Manage students</div>
          </div>
        </div>
        <div class="link" *ngIf="isAdmin">
          <div class="content" [routerLink]="['/resourcelists']" [queryParams]="{ 'child': '1' }"
            [routerLinkActive]="'active'">
            <div class="title">Resource List</div>
          </div>
        </div>
      </div>
    </div>    
  </div>

  <div class="content" *ngIf="isStudent">
    <div class="link with-children">
      <div class="content" [routerLinkActive]="'active'">
        <div class="title">Student Dashboard</div>
      </div>
      <div class="children">
        <div class="link">
          <div class="content" [routerLink]="['/dashboard']" [queryParams]="{ 'child': '1' }"
            [routerLinkActive]="'active'">
            <div class="title">Course Overview</div>
          </div>
        </div>
        <!-- <div class="link">
          <div class="content" [routerLink]="['/managestudents']" [queryParams]="{ 'child': '1' }"
            [routerLinkActive]="'active'">
            <div class="title">Course Complete</div>
          </div>
        </div>
        <div class="link">
          <div class="content" [routerLink]="['/resourcelists']" [queryParams]="{ 'child': '1' }"
            [routerLinkActive]="'active'">
            <div class="title">Course Incomplete</div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="content">
    <div class="link">
      <div class="content" (click) ="logOut()">
        <div class="title">Logout</div>
      </div>
    </div>
  </div>
  <div class="footer"></div>
</div>