.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}

// #body{
//   background-image: url(src\assets\img\download.jpg);
// }


.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.navbar-dark {
  background-color: rgb(157, 177, 202);
}

.footer {
  background-color: rgb(65, 173, 192);
  margin: 0px auto;
  padding: 20px 0px;
}

.jumbotron {
  margin: 0px auto;
  padding: 40px 30px;
  background: rgb(79, 93, 139);
  color: floralwhite;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.modal-header {
  background-color: #808080;
  color: floralwhite;
}

.modal-header .close {
  color: floralwhite;
}

.modal-body {
  background-color: #d1c4e9;
}

.pull-left {
  float: left;
}

.width-10 {
  width: 10%;
}

.width-7 {
  width: 7%;
}

.width-55 {
  width: 55%;
}

.width-50 {
  width: 50%;
}


.padding-left-5 {
  padding-left: 5px;
}

.padding-left-15 {
  padding-left: 15px;
}

.button-style {
  background-color: #1aa3ff;
  color: white;
  padding: 8px;
  width: 70px;
  border-radius: 5px;
  border-style: none;
}



@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import '/node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '/node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import '/node_modules/@fortawesome/fontawesome-free/scss/regular.scss';

// @import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
